.container {
  display: flex;
  justify-content: center;
  background: url("../assets/images/bg-desktop-light.jpg") no-repeat;
  background-size: cover;
  height: 40vh;
}

header {
  display: flex;
  align-items: baseline;
  gap: 25vw;
  margin-top: 8vh;
  font-size: 1.3rem;
}

.container h1 {
  font-family: "Josefin Sans", system-ui;
  color: #fff;
  letter-spacing: 1.15rem;
}

button {
  background: none;
  border: none;
}

/* Media Queries */
@media only screen and (max-width: 425px) {
  .container {
    background: url("../assets/images/bg-mobile-light.jpg") no-repeat;
    background-size: 100%;
  }
}
