.todoForm { 
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
  
  .todoForm input{
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
  }